@import "../../node_modules/react-md/src/scss/react-md";

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-lime-a-400;

@include react-md-everything;

/** Colors **/
$primary: #44b1e1;
$primary-light: #7fe3ff;
$primary-dark: #0082af;
$primary-text: #ffffff;

$secondary: #ad84ca;
$secondary-light: #e0b4fd;
$secondary-dark: #7d5799;
$secondary-text: #000000;

$tertiary: #fdbc33;
$tertiary-light: #ffee67;
$tertiary-dark: #c58c00;
$tertiary-text: #000000;

$text1: lightgrey;

// Sizing
$navbar_height: 4em;

// Viewport width
$width: 80%;

// Mobile resize
$media-query: 768px;