@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$section1-height: 45em;

// SECTION1 WRAPPER
.section1-wrapper {
    width: 100%;
    height: $section1-height;
    padding: 0 !important;
    align-items: flex-start;
    justify-content: space-around;

    .left-half-wrapper {
        display: flex;
        justify-content: flex-end;

        & img {
            max-height: 53em;
            max-width: 45em;
            margin-left: auto;
            z-index: 2;
            pointer-events: none;
        }
    }

    .right-half-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 85%;
        z-index: 2;

        .info-wrapper {
            display: flex;
            align-items: center;
            text-align: center;
            height: 50%;
            width: 85%;

            &:hover {
                background-color: #ff733f;
                color: white !important;

                h1, h3, p {
                    color: white;
                }

                hr {
                    background-color: white;
                }

                @include angle(after, false, 5deg);
            }

            .info-div {
                padding: 5em;
            }

            & h1 {
                display: inline-block;
                color: black;
                margin-bottom: .2em;
            }

            & h3 {
                display: inline-block;
                color: grey;
                margin: 0;
                margin-bottom: .2em;
            }

            & p {
                display: block;
                margin: 0;
                margin-top: .5em;
            }
        }

        .icon {
            &:hover {
                color: white;
            }
        }
    }
}

@media only screen and (max-width: $media-query) {}